@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/3609.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    display: block;
    color: white;
}
.card-left, .card-right {
    background: rgba(0, 0, 0, 0.1);
    height: 40vh;
    width: 100%;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}
.row{
    display: flex;
}
.btn{
    background: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(20px);
}